*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.body {
  background-color: #f9fafb;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 13.33333333vw;
  background-color: #fff;
  padding: 0 4vw;
}
header .left {
  width: 62.66666667vw;
  height: 13.33333333vw;
  background: url('../assets/head.png') no-repeat;
  background-size: contain;
}
header a {
  width: 21.33333333vw;
  height: 8vw;
  background-color: #ffe31b;
  text-align: center;
  line-height: 8vw;
  border-radius: 4vw;
  font-size: 3.73333333vw;
  color: #333;
}
.search {
  margin-top: 13.33333333vw;
  padding: 2.66666667vw 4vw;
  height: 13.86666667vw;
}
.search .txt {
  height: 8.53333333vw;
  background-color: #f2f4f5;
  border-radius: 4.26666667vw;
  text-align: center;
  line-height: 8.53333333vw;
  color: #a1a4b3;
  font-size: 3.73333333vw;
}
.search .txt .iconfont {
  font-size: 4.26666667vw;
}
.banner {
  height: 28.8vw;
  padding: 0 4vw;
}
.banner ul li {
  width: 92vw;
  height: 28.8vw;
}
.banner ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.33333333vw;
}
.list {
  margin-top: 5.33333333vw;
  padding: 0 4vw;
}
.list .content ul li {
  display: flex;
  height: 28vw;
  margin-bottom: 4.26666667vw;
  background-color: #fff;
  border-radius: 2.66666667vw;
}
.list .content ul li .pic {
  height: 100%;
  margin-right: 5.33333333vw;
}
.list .content ul li .pic img {
  height: 100%;
  object-fit: cover;
  border-radius: 2.66666667vw;
}
.list .content ul li .txt a {
  display: block;
  font-size: 3.2vw;
  color: #a1a4b3;
  line-height: 1.8;
}
.list .content ul li .txt .more {
  font-size: 3.73333333vw;
  color: #333;
}
.list .content ul li .txt .more .iconfont {
  font-size: 4.26666667vw;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.26666667vw;
  line-height: 6.66666667vw;
}
.title h4 {
  font-size: 5.33333333vw;
}
.title a {
  font-size: 3.2vw;
  color: #a1a4b3;
}
.title a .iconfont {
  font-size: 4.26666667vw;
}
.recommend {
  padding: 0 4vw;
}
.recommend ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend ul li {
  width: 28vw;
  height: 38.13333333vw;
  margin-bottom: 4.26666667vw;
}
.recommend ul li .pic {
  width: 28vw;
  height: 28vw;
  position: relative;
}
.recommend ul li .pic img {
  width: 28vw;
  height: 28vw;
  object-fit: cover;
  border-radius: 2.66666667vw;
}
.recommend ul li .pic .cover {
  position: absolute;
  width: 18.66666667vw;
  height: 7.46666667vw;
  left: 0;
  top: 20.53333333vw;
  color: #fff;
  font-size: 3.73333333vw;
  text-align: center;
  line-height: 7.46666667vw;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 2.66666667vw;
}
.recommend ul li .txt {
  font-size: 3.73333333vw;
}
.download {
  position: fixed;
  bottom: 8vw;
  right: 4vw;
  display: flex;
  align-items: center;
  width: 92vw;
  height: 12vw;
  background-color: #fff;
  border-radius: 6vw;
  padding: 0 2.66666667vw 0 4vw;
}
.download img {
  width: 9.6vw;
  height: 9.6vw;
  margin-right: 2.66666667vw;
}
.download p {
  flex: 1;
  font-size: 3.73333333vw;
}
.download .iconfont {
  width: 8.53333333vw;
  height: 8.53333333vw;
  background-color: #f2f3f5;
  font-size: 4.26666667vw;
  border-radius: 50%;
  text-align: center;
  line-height: 8.53333333vw;
}
